<div class="d-flex" id="main-dashboard">
  <div class="sidebar">
    <button class="btn btn-dark w-100 mb-2" id="profile-button">
      <i class="fas fa-user"></i> My Profile
    </button>
    <button class="btn btn-dark w-100 mb-2" id="donation-history-button">
      <i class="fas fa-history"></i> Donation History
    </button>
    <button class="btn btn-dark w-100 mb-2" id="request-history-button">
      <i class="fas fa-file-alt"></i> Request History
    </button>
    <button class="btn btn-dark w-100 mb-2" id="set-donor-button">
      <i class="fas fa-tint"></i>
      Set as Donor
    </button>
  </div>
  <div class="container mt-5" id="user-dashboard"></div>
</div>
