<div class="d-flex" id="main-dashboard">
  <div class="sidebar">
    <button class="btn btn-dark w-100 mb-2" id="hc-profile">
      <i class="fas fa-user"></i>Profile
    </button>
    <button class="btn btn-dark w-100 mb-2" id="hc-request-history">
      <i class="fas fa-file-alt"></i>Request History
    </button>
    <button class="btn btn-dark w-100 mb-2" id="hc-add-inventory">
      <i class="fas fa-boxes"></i>
      Add Inventory
    </button>
    <button class="btn btn-dark w-100 mb-2" id="hc-inventory">
      <i class="fas fa-boxes"></i>
      View Inventory
    </button>
    <button class="btn btn-dark w-100 mb-2" id="hc-add-donation-camp">
      <i class="fas fa-marker"></i>
      Add Donation Camp
    </button>
  </div>
  <div id="healthcenter-details">

  </div>
  </div>
</div>
