<!-- Header Start -->
<section id="header">
  <div class="container">
    <div class="home-title">
      <h1>Creating a Community of Heroes – Donate Blood Today.</h1>
      <h4>One Donation Can Save Multiple Lives. Be a Hero!</h4>
    </div>
  </div>
</section>
<!-- Header End -->

<!-- Sub Header Start -->
<section id="sub-header">
  <div class="sub-header__container">
    <button
      class="btn list"
      id="get-health-center-list"
      data-type="health_center"
    >
      Get Health Centers List
    </button>
    <button class="btn list" id="get-donor-list" data-type="donor">
      Get Donor List
    </button>
    <button class="btn list" id="get-donation-camp-list">Donation Camp</button>
  </div>
  <div id="get-details" class="mt-4"></div>
</section>
<!-- Sub Header End -->

<!--info start-->
<section id="info">
  <div class="container">
    <div class="container1">
      <h2 style="text-align: center; color: red">
        DONOR BLOOD GROUP STATISTICS
      </h2>
      <canvas id="myChart"></canvas>
    </div>
    <div class="container2">
      <h2 style="text-align: center; color: red">REGISTERED STATISTICS</h2>
      <canvas id="myChart2"></canvas>
    </div>
  </div>
</section>

<!--info end-->

<!-- Articles Start -->
<section id="articles">
  <div class="container">
    <div class="article-content">
      <div class="left-side">
        <img
          src="../../../public/assets/img/donate.png"
          alt="Blood Donation Information"
        />
      </div>
      <div class="right-side">
        <h2>LEARN ABOUT DONATION</h2>
        <h3>Compatible Blood Donors</h3>
        <table class="blood-type-table">
          <thead>
            <tr>
              <th>Blood Type</th>
              <th>Donate Blood To</th>
              <th>Receive Blood From</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>A+</td>
              <td>A+ AB+</td>
              <td>A+ A- O+ O-</td>
            </tr>
            <tr>
              <td>O+</td>
              <td>O+ A+ B+ AB+</td>
              <td>O+ O-</td>
            </tr>
            <tr>
              <td>B+</td>
              <td>B+ AB+</td>
              <td>B+ B- O+ O-</td>
            </tr>
            <tr>
              <td>AB+</td>
              <td>AB+</td>
              <td>Everyone</td>
            </tr>
            <tr>
              <td>A-</td>
              <td>A+ A- AB+ AB-</td>
              <td>A- O-</td>
            </tr>
            <tr>
              <td>O-</td>
              <td>Everyone</td>
              <td>O-</td>
            </tr>
            <tr>
              <td>B-</td>
              <td>B+ B- AB+ AB-</td>
              <td>B- O-</td>
            </tr>
            <tr>
              <td>AB-</td>
              <td>AB+ AB-</td>
              <td>AB- B- O-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- Articles End -->

<!-- Footer Start -->
<section id="footer"></section>
<!-- Footer End -->
