<div class="container mt-5">
  <h2>Health Center Form</h2>
  <form id="signUpHealthCenter-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="nameInput"
        placeholder="Enter name"
      />
    </div>
    <div class="form-group">
      <label for="emailInput">Email</label>
      <input
        type="email"
        class="form-control"
        id="emailInput"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="passwordInput"
        placeholder="Enter password"
      />
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input
        type="text"
        class="form-control"
        id="phoneInput"
        placeholder="Enter phone number"
      />
    </div>
    <div class="form-group">
      <label for="district">District</label>
      <input
        type="text"
        class="form-control"
        id="districtInput"
        placeholder="Enter district"
      />
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input
        type="text"
        class="form-control"
        id="locationInput"
        placeholder="Enter location"
      />
    </div>
    <div class="form-group">
      <label for="images">Images</label>
      <input
        type="text"
        class="form-control"
        id="imageInput"
        placeholder="Enter image URLs"
      />
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <select class="form-control" id="typeInput">
        <option value="Blood bank">Blood Bank</option>
        <option value="Hospital">Hospital</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
