<div class="signup-div">
  <div class="signup-img">
    <img src="../../../public/assets/img/home2.jpg" alt="signupUser" />
  </div>
  <div class="form-overlay">
    <h2 class="mb-1 mt-2">Health Center Form</h2>
    <form id="signUpHealthCenter-form" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="nameInput"
          placeholder="Enter name"
          required
        />
      </div>
      <div class="form-group">
        <label for="emailInput">Email</label>
        <input
          type="email"
          class="form-control"
          id="emailInput"
          placeholder="Enter email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="passwordInput"
          placeholder="Enter password"
          required
        />
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="text"
          class="form-control"
          id="phoneInput"
          placeholder="Enter phone number"
          required
        />
      </div>
      <div class="form-group">
        <label for="district">District</label>
        <input
          type="text"
          class="form-control"
          id="districtInput"
          placeholder="Enter district"
          required
        />
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input
          type="text"
          class="form-control"
          id="locationInput"
          placeholder="Enter location"
          required
        />
      </div>
      <div class="form-group">
        <label for="images">Images</label>
        <input
        type="file"
        accept="image/*"
        class="form-control"
          id="imageInput"
          placeholder="Enter image URLs"
          required
        />
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="typeInput">
          <option value="Blood bank">Blood Bank</option>
          <option value="Hospital">Hospital</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
</div>